{% extends 'portfolio/layout.html' %}

{% block main %}
    <h3 class="hh33">Posts</h3>
    {% for post in posts %}
        <p>
            <div class="posts">
                <div class="item1">{{ post.title }}</div>
                <div class="item2"><img src="{{ post.image.url }}" alt=""> <br></div>
                <div class="item3">{{ post.description }}</div>
                <div class="item4">{{ post.author }} // {{ post.date }} // <a href="{{ post.link }}">Know more</a></div>
            </div>
        </p>
   {% endfor %}
    <h3 class="hh33">New Post</h3>
    <br>
    {% if request.user.is_authenticated %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
      <input type="submit" value="Gravar" class="btn btn-success">
    </form>
    {% else %}
        <a href="{% url 'portfolio:login' %}">LOG ME IN</a>
    {% endif %}

{% endblock %}