{% extends 'portfolio/layout.html' %}

    {% block main %}
        {% load static %}
        <div class="imagem_para_motivacao">
            <p class="motivation">Seja humilde para admitir seus erros, inteligente para aprender com eles e maduro para corrigi-los.</p>
        </div>

        {% load static %}
        <p id="time"></p>
        <br>
        <img src="{% static 'portfolio/images/arrow.gif' %}" class="arrow">

        <article>
            Hey<br><br>
            I'm Antonio and currently taking a bachelor's degree in computer engineering<br>
            at Lusófona and I'm becoming more and more interested in this field.<br>I would also like to have some basics
            with UX and UI design.
            <br>
        </article>

        {% load static %}
        <p id="temp">Loading...</p>
    {% endblock %}