@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'San Francisco', 'BIZ UDPGothic', Helvetica, sans-serif;
}

a{
  text-decoration: none;
}

body{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to top, #bcaaa4, #efdcd5);
  background-repeat: no-repeat;
  background-color: black;
  overflow-y: scroll;
}

header {
  height: 8vh;
  background-color: black;
  color: white;
  top: 0;
  position: sticky;
  /* alinhando logo e menu */
  display:flex;
  justify-content: space-between;
  align-items: center;
}

nav > .a-menu:before {
  content: "";
  position: absolute;
  background-color: #c97b63;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: -2;
}
nav > .a-menu:hover:before,
nav > .a-menu:focus:before {
  animation: .5s forwards hover-v linear;
  animation-fill-mode: forwards;
}
@keyframes hover-v {
  0% {
      transform: scaleX(0);
      height: 0;
     }

  10% {
      transform: scaleX(0);
      height: 5px;
     }

  50% {
      transform: scaleX(1.05);
      height: 5px;
     }

  100% {
      transform: scaleX(1.05);
      height: 100%;
     }
}

header div {
  font-size: 1.5em;
  padding: 0 0 0 1.5em;
}

header nav {
  display:flex;
  justify-content: flex-end;
  height: 100%;
}

nav a {
  position: relative;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1rem;
  color: floralwhite;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav a:last-child{
  background-size: 10px;
  padding: 0 35px;
  margin: 0;
}

nav a:last-child:before {
  content: "";
  position: absolute;
  background-color: #ba6b6c;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: -2;
}

nav a:last-child:hover:before,
nav a:last-child:focus:before {
  animation: .5s forwards hover-v linear;
  animation-fill-mode: forwards;
}

main {
  padding: 4em 4em;
}

footer {
  height:5vh;
  display:flex;
  justify-content: flex-end;
  padding: 0 2vw;
  align-items: center;
  background-color: black;
  color: snow;
  clear: both;
  position:fixed;
   bottom:0;
   width:100%;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 25px 100px;
}

.container div {
  float: left;
  width: 250px;   height: 150px;
  padding: 25px;  margin: 10px;
  background-color: black;
  color: snow;
  border-radius: 10px;                 /* arredonda os cantos */
  box-shadow: 5px 5px 15px snow;
}

.after-box {
  clear: left;
  background-color: skyblue;
}

.imagem_para_motivacao{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.motivation {
  font-size: 1.5em;
  font-weight: 1000;
  font-family: "DejaVu Sans", sans-serif;
  background-image: linear-gradient(to top, #bcaaa4, #efdcd5);
  padding: 20px 20px 20px 20px;
  border-radius: 20px;

}

article{
  padding:20px 20px 20px 20px;
  border-radius: 20px;
  margin-top: 50px;
  height: 90vh;
  background-color: black;
  color: snow;
  box-shadow: 5px 5px 15px floralwhite;
  text-align: center;
  font-size: 2rem;
}

.arrow{
  display: block;
  margin-top: -70px;
  margin-left: auto;
  margin-right: auto;
}

.posts{
  display: grid;
  grid-template:
    'title title title title title title title'
    'image desc desc desc desc desc desc'
    'image desc desc desc desc desc desc'
    'footer footer footer footer footer footer footer';
  grid-gap: 10px;
  margin: 20px;
  background-color: black;
  color: snow;
  border-radius: 20px;                 /* arredonda os cantos */
  box-shadow: 5px 5px 15px snow;
}

.posts > div{
  box-sizing: border-box;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
}

.posts > div > img{
  width: 80%;
  height: 90%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.item1 {
  box-sizing: border-box;
  padding: 40px; margin: 20px;
  border-radius: 20px;
  background-image: linear-gradient(deeppink,red);
  grid-area: title;
  align-self: center;
}
.item2 {
  box-sizing: border-box;
  padding: 40px; margin: 20px;
  border-radius: 20px;
  background-image: linear-gradient(deeppink,red);
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item3 {
  box-sizing: border-box;
  padding: 40px; margin: 20px;
  border-radius: 20px;
  background-image: linear-gradient(deeppink,red);
  grid-area: desc;
  height: 90%;
  overflow-y: auto;
}
.item4 {
  box-sizing: border-box;
  padding: 40px; margin: 20px;
  border-radius: 50px;
  background-image: linear-gradient(deeppink,red);
  grid-area: footer;
  align-self: end;
}


.hh33{
  text-align: center;
  font-size: 40px;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  color: #66ff99;
  font-size: 56px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#temp {
  display: block;
  background: linear-gradient(to top, #bcaaa4, #efdcd5) no-repeat fixed center;
  background-size: cover;
  padding: 30px;
  margin-bottom: 3em;
  margin-right: 3em;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-radius: 30px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  font-size: 20px;
}

#time {
  display: block;
  background: linear-gradient(to top, #bcaaa4, #efdcd5) no-repeat fixed center;
  background-size: cover;
  padding: 30px;
  margin-bottom: 3em;
  margin-left: 3em;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-radius: 30px;
  position: fixed;
  bottom: 16px;
  left: 16px;
  font-size: 20px;
}


form {
  display: block;
  margin: auto;
  width: 90%;
  max-width: 500px;
}

.field{
  background: linear-gradient(to top, #bcaaa4, #efdcd5) no-repeat fixed center;
  margin: auto;
  border-radius: 20px;
}

.helptext {
  display: block;
  font-size: .5em;
}